@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-pt-16 scroll-smooth selection:bg-primary-500 selection:text-white;
}

.custom-container {
    @apply mx-auto max-w-7xl;
}

.bg-gradient {
    @apply bg-gradient-to-tr from-primary-600 to-primary-500;
}

.text-gradient {
    @apply bg-clip-text text-transparent;
}

:root {
    --swiper-pagination-color: theme('colors.primary.500');
    --swiper-pagination-bullet-inactive-color: theme('colors.white');
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 4px !important;
}
